@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-color: #f9f9f9;
    --foreground: #000;
    --gray-1: #838383;
    --gray-2: #e0e0e0;
    --gray-3: #f0f0f0;
    --gray-4: #646464;
    --blue: rgb(33, 146, 255);
    --grass: #46a758;
  }

  .dark {
    --background-color: #1c1c1c;
    --foreground: #fff;
    --gray-1: #7b7b7b;
    --gray-2: #313131;
    --gray-3: #222222;
    --gray-4: #8e8e8e;
  }
}

@layer base {
  body {
    @apply bg-primary text-secondary;
  }

  ::selection {
    @apply bg-gray-2 text-gray-4;
  }

  hr {
    @apply border-gray-2 w-full
  }
}

@layer components {
  .section-container {
    @apply flex w-full flex-col gap-2 text-sm;
  }

  .section-title {
    @apply relative flex items-center justify-between text-base;
  }
  .section-title.link {
    @apply -mx-2 rounded-md px-2 py-1 transition-colors hover:bg-gray-3;
  }
  .section-content {
    @apply flex flex-col break-words pb-4;
  }

}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-user-select {
    -user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}
